<%= link_to "Create Holiday", new_holiday_path,class: "btn btn-primary"%>
<% @holidays.each do |holiday| %>
    <h1><%= holiday.name %></h1>
    <p>Start Date-<%= holiday.start_date %></p>
    <p>End Date:-<%= holiday.end_date %></p>
    <p>Description:-<%= holiday.description %></p>
<% end %>