<table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Leave Reason</th>
        <th>Leave Type</th>
        <th>Status</th>
        <th>Description</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @leave_applications.each do |leave_application| %>
        <tr>
          <td><%= leave_application.start_date %></td> 
          <td><%= leave_application.end_date %></td>
          <td><%= leave_application.leave_reason %></td>
          <td><%= leave_application.leave_type.name %></td>
          <td><%= leave_application.status %></td>
          <td><%= leave_application.description %></td>
          <% unless leave_application.status == "Accepted" or leave_application.status == "Rejected" %>
            <td><%= link_to "Submit Result", edit_leave_application_path(leave_application), class: "btn" %></td>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>