<%@leavetypes.each do |leavetype| %>
  <h6><%= leavetype.name %></h6>
    <% if @grp.length==0 %>
      Leave Left:-<%= leavetype.max_limit %><br>
    <% else %>
    <% @grp.each do |key,value| %>
      <% if leavetype.id==key %>
        Leave Left:-<%= leavetype.max_limit-value %><br>
        <% break %>
      <%elsif leavetype.id<key %>
        Leave Left:-<%= leavetype.max_limit %><br>
        <% break %>
      <%elsif @grp.keys.last==key %>
        Leave Left:-<%= leavetype.max_limit %><br>
        <% break %>
      <% end %>
    <% end %>
    <% end %>
    Total Leave:-<%= leavetype.max_limit %><br>
  <% end %>
<table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Leave Reason</th>
        <th>Leave Type</th>
        <th>Status</th>
        <th>Description</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @leave_applications.each do |leave_application| %>
      <% if leave_application.user_id == current_user.id %>
        <tr>
          <td><%= leave_application.start_date %></td> 
          <td><%= leave_application.end_date %></td>
          <td><%= leave_application.leave_reason %></td>
          <td><%= leave_application.leave_type.name %></td>
          <td><%= leave_application.status %></td>
          <td><%= leave_application.description %></td>
          <% unless leave_application.status == "Accepted" or leave_application.status == "Rejected" %>
            <td><%= button_to 'Delete', leave_application, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn" %></td>
          <% end %>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
